@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Bienvenidos a FAST-Food</h1>
        </div>
    </div>
</div>
